# -----------------------------------------------------------------------------
# --- File extensions to ignore
# -----------------------------------------------------------------------------
*.bin
*.dat
*.fig
*.cfg
*.bz2
*~
*.mat
*.a
*.png
*.eps
*__
Per_*
*.pod
*.err
*.out
*.pyc
*.pkc
*.pck
*.pk4
# -----------------------------------------------------------------------------
# --- Folders to ignore
# -----------------------------------------------------------------------------
bin/*
runs/*
My_Routines/*
Geometry/*
